.container {
  width: 100%;
}
.field {
  width: 400px;
  float: right;
}

table {
  width: 100%;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
.mat-header-cell {
  margin-left: 10px;
}

.checkbox-center {
  text-align: center;
  margin: 0 20px;
}
.botonEliminar {
  color: red;
  cursor: pointer;
}
.border {
  border-radius: 24px;
}

.colorTitle {
  color: #11766a; //
}
.line {
  text-decoration: line-through;
}

.none {
  text-decoration: none;
}

th {
  text-align: center;
  font: normal normal normal 20px/24px Roboto;
  letter-spacing: 0.62px;
  color: #11766A;
}
td{
  cursor: pointer;
  font: normal normal normal 20px/24px Helvetica Neue;
}
.highlight{
  background: #b4c4f1; 
}