.field{
    width: 100%;
    margin: 0 1%;
}
.d-flex{
    width: 100%;
    display: flex;   
}
.addImg{
    padding: 20px;
}

.btn-guardar{
    border-radius: 24px;
}
.ml-1{
    margin-left: 2%;
}
.checkboxTask{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.mr-new{
    margin: 20px 37px;
    padding: 0 4%;
}

.example-full-width {
    width: 100%;
    color: white;
  }