
@use '~@angular/material' as mat;

@include mat.core();

$prototype-test-primary: mat.define-palette(mat.$indigo-palette);
$prototype-test-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$prototype-test-warn: mat.define-palette(mat.$red-palette);

$prototype-test-theme: mat.define-light-theme((
  color: (
    primary: $prototype-test-primary,
    accent: $prototype-test-accent,
    warn: $prototype-test-warn,
  )
));

@include mat.all-component-themes($prototype-test-theme);
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
    height: 170px;
    align-items: center;
    background-color: #01CEB6;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  

  .content {
    margin: 13% auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column-reverse;
    align-items: center;
  }



  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }


.form-check-input:checked {
  background-color: #11806A;
  border-color: #11806A;
}